In [622]:
import pandas as pd
import numpy as np

In [623]:
df = pd.read_csv("worldcup2014.csv")

Desafío 1: Generación de funciones<br>
● Genere funciones para calcular la media y varianza de un vector. Debe cumplir con<br>
los siguientes requisitos:<br>
○ Ambas funciones deben ingresar un argumento x correspondiente al vector.<br>
○ Las funciones deben contener docstrings con la documentación asociada a<br>
la variable y retornar un valor utilizando return.<br>
○ La función de la varianza se debe llamar a la función de la media.<br>
● Utilice las funciones para reportar la información sobre goles_favor, goles_contra<br>
y puntos.<br>

In [644]:
x=[8,7,8,20]

In [645]:
def media(x):
    """Esta funcion calcula la media de un vector"""
    sum=0
    for i in x:
        sum+=i
    prom=sum/len(x)
    return prom

In [646]:
media(x)

10.75

In [647]:
def varianza(x):
    """Esta funcion calcula la media de un vector,
         se utilizará la funcion media creada anteriormente"""
    var=0
    for i in x:
        var+=(i-media(x))*(i-media(x))
    var=var/len(x)
    return var

In [648]:
varianza(x)

28.6875

In [649]:
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [650]:
continentes_n=df['continent'].value_counts().index.values

In [651]:
continentes={}
for continente in continentes_n:
    continentes[continente]=df[df['continent'] ==continente]

In [652]:
goles_f={}
for continente in continentes:
    df_continente=continentes[continente]
    goles_f[continente]=media(df_continente['goles_favor'])
print(f'Media de goles a favor por continente: ')
for i in goles_f:
    print(i,':', goles_f[i])

Media de goles a favor por continente:
europe : 4.769230769230769
southamerica : 5.666666666666667
africa : 3.6
northamerica : 3.25
asia : 2.25

In [653]:
goles_f_v={}
for continente in continentes:
    df_continente=continentes[continente]
    goles_f_v[continente]=varianza(df_continente['goles_favor'])
print(f'Varianza de goles a favor por continente: ')
for i in goles_f_v:
    print(i,':', goles_f_v[i])

Varianza de goles a favor por continente:
europe : 6.331360946745561
southamerica : 3.888888888888889
africa : 2.64
northamerica : 1.6875
asia : 0.6875

In [681]:
np.var(df[df['continent']=='europe']['goles_favor'])

6.331360946745561

In [654]:
goles_c={}
for continente in continentes:
    df_continente=continentes[continente]
   
    goles_c[continente]=media(df_continente['goles_contra'])
print(f'Media de goles en contra por continente: ')
for i in goles_c:
    print(i,':', goles_c[i])

Media de goles en contra por continente:
europe : 4.0
southamerica : 2.8333333333333335
africa : 5.6
northamerica : 3.5
asia : 6.25

In [655]:
goles_c_v={}
for continente in continentes:
    df_continente=continentes[continente]
    goles_c_v[continente]=varianza(df_continente['goles_contra'])
print(f'Media de goles en contra por continente: ')
for i in goles_c_v:
    print(i,':', goles_c_v[i])

Media de goles en contra por continente:
europe : 3.5384615384615383
southamerica : 0.47222222222222215
africa : 3.84
northamerica : 8.25
asia : 3.1875

In [680]:
#np.var(df[df['continent']=='asia']['goles_contra'])

3.1875

In [656]:
puntos_m={}
for continente in continentes:
    df_continente=continentes[continente]
    puntos_m[continente]=media(df_continente['puntos'])
print(f'Media de puntos por continente: ')
for i in puntos_m:
    print(i,':', puntos_m[i])

Media de puntos por continente:
europe : 4.6923076923076925
southamerica : 6.833333333333333
africa : 2.4
northamerica : 4.5
asia : 0.75

In [657]:
puntos_v={}
for continente in continentes:
    df_continente=continentes[continente]
    puntos_v[continente]=varianza(df_continente['puntos'])
print(f'Varianza de puntos por continente: ')
for i in puntos_m:
    print(i,':', puntos_v[i])

Varianza de puntos por continente:
europe : 6.366863905325444
southamerica : 3.1388888888888893
africa : 2.6399999999999997
northamerica : 8.25
asia : 0.1875

In [678]:
#np.mean(df[df['continent']=='africa']['puntos'])

2.4

Desafío 2:<br>
Utilizando el método groupby de la clase DataFrame, en conjunto con la función .agg de<br>
pandas, calcule la media, la varianza y desviación estándar de la cantidad de goles a favor,<br>
en contra y de la cantidad de puntos por continente.<br>
● ¿En qué continente se observa una mayor cantidad de goles a favor?<br>
● ¿En qué continente se observa una mayor cantidad de goles en contra?<br>
● ¿En qué continente se observa una mayor cantidad de puntos en promedio?<br>

In [642]:
b =  df.groupby('continent').agg({'goles_favor':['mean','var','std'],'goles_contra':['mean','var','std'], 'puntos':['mean','var','std']})

In [643]:
b

             goles_favor                     goles_contra             \
                    mean       var       std         mean        var
continent
africa          3.600000  3.300000  1.816590     5.600000   4.800000
asia            2.250000  0.916667  0.957427     6.250000   4.250000
europe          4.769231  6.858974  2.618964     4.000000   3.833333
northamerica    3.250000  2.250000  1.500000     3.500000  11.000000
southamerica    5.666667  4.666667  2.160247     2.833333   0.566667

                          puntos
                   std      mean        var       std
continent
africa        2.190890  2.400000   3.300000  1.816590
asia          2.061553  0.750000   0.250000  0.500000
europe        1.957890  4.692308   6.897436  2.626297
northamerica  3.316625  4.500000  11.000000  3.316625
southamerica  0.752773  6.833333   3.766667  1.940790

Se observa una mayor cantidad de goles a favor en 'southamerica', aunque 'europa' también tiene un valor alto<br>
su desviación y varianza es muy alta, por lo tant, 'southamerica' es probablemente el continente con más goles a favor.<br>
La mayor cantidad de goles en contra en 'asia' <br>
y la mayor cantidad de puntos en 'southamerica'

Desafío 3: Simulaciones<br>
● Genere una función generate_pet que devuelva de forma aleatoria un string<br>
'perro' o 'gato' un número n de veces. Ejecútela un par de veces.<br>
Tip: Puede utilizar la función np.random.choice para retornar elementos al azar.<br>
● Aplique la función generate_pet para generar 20 muestras.<br>
● ¿Cuál es la probabilidad de elegir un perro al azar? ¿Y un gato?<br>
● Agregue np.random.seed(2) al inicio del chunk. ¿Qué diferencia hay cuando se<br>
ejecuta la función varias veces luego de fijar la semilla?<br>

In [700]:
def generate_pet(x):
    lista=[]
    for i in range(x):
        lista.append(np.random.choice(['perro','gato']))
    return lista

In [683]:
#20 al azar

In [684]:
generate_pet(20)

['perro',
 'gato',
 'perro',
 'perro',
 'perro',
 'gato',
 'perro',
 'perro',
 'gato',
 'perro',
 'perro',
 'perro',
 'gato',
 'perro',
 'perro',
 'perro',
 'gato',
 'gato',
 'gato',
 'gato']

In [685]:
#probabilidad de perro o gato

In [686]:
x=100

In [696]:
count=generate_pet(x)

p_perro=(count.count('perro'))
print(f'La probabilidad de elegir un perro es de; ', p_perro/x,"%")
p_gato=(count.count('gato'))
print(f'La probabilidad de elegir un gato es de; ', p_gato/x,"%")

La probabilidad de elegir un perro es de;  0.53 %
La probabilidad de elegir un gato es de;  0.47 %

In [166]:
# Agregue np.random.seed(2) al inicio del chunk

In [697]:
np.random.seed(2)
generate_pet(20)

['perro',
 'gato',
 'gato',
 'perro',
 'perro',
 'gato',
 'perro',
 'gato',
 'perro',
 'gato',
 'perro',
 'gato',
 'gato',
 'gato',
 'gato',
 'gato',
 'gato',
 'gato',
 'perro',
 'perro']

No cambia en nada significativo, seed permite personalizar el número de inicio del generador de números aleatorios<br>

Desafío 4: Función simuladora<br>
● Genere una función llamada simulate_pets_prob que tome como argumento un<br>
número finito de simulaciones a generar.<br>
● La función debe simular dos situaciones young_pet y old_pet, y contar la<br>
ocurrencia de los siguientes casos:<br>
○ De las dos mascotas simuladas (young y old), contar las ocasiones donde<br>
por lo menos una de las mascotas sea un perro.<br>
○ De las dos mascotas simuladas, contar las ocasiones donde old_pet sea un<br>
perro.<br>
○ De las dos mascotas simuladas, contar las ocasiones donde los dos sean<br>
perros.<br>
● El método debe tener una semilla pseudoaleatoria de 1.<br>
● El output de la función debe entregarse en términos de Probabilidad.<br>
● De los tres escenarios, ¿Cuál es el menos probable? ¿Cuál es el más probable? ¿Porqué?

In [698]:
np.random.seed(1)
def simulate_pests_prob(n):
    pet=['young_pet','old_pet']
    lista1=generate_pet(n)
    lista2=generate_pet(n)
    df = pd.DataFrame(list(zip(lista1, lista2)), 
                   columns =['young_pet','old_pet']) 

    p='perro'
    #young_pet que son perros
    df['perro_y']=(df['young_pet'].str.find(p)+1)
    #old_pet que son perros
    df['perro_o']=(df['old_pet'].str.find(p)+1)
    #suma de old_pet y young_pet
    df['ambos_perros']=df['perro_y']+df['perro_o']
    #si al menos uno es perro se cuenta como 1, de lo contratio 0
    df['1_al_menos']=np.where(df['ambos_perros']>=1,1,0)
    #se corrige ambos_perros, todos los valores 2 cambian a 1 y lo demás a 0 (así se cuenta cuando ambos son perros)
    df['ambos_perros']=np.where(df['ambos_perros']>=2,1,0)
    
    #Se calcula la probabilidad según los datos donde al menos old o young pet fue perro divido por las simulaciones totales(n)
    print(f'La probabilidad donde por lo menos una de las mascotas sea un perro es: ', sum(df['1_al_menos'])/len(df['1_al_menos']),"%")
    #Se calcula la probabilidad según los datos donde old_pet fue perro dividido por simulaciones totales(n)
    print(f'La probabilidad donde old_pet sea un perro: ', sum(df['perro_o'])/len(df['perro_o']),"%")
    
    #Se calcula la probabilidad según los datos en que ambos fueron perros divido por simulaciones totales(n)
    print(f'La probabilidad donde los dos son perros: ', sum(df['ambos_perros'])/len(df['ambos_perros']),"%")
    
    
    return df[['young_pet','old_pet']]

In [699]:
simulate_pests_prob(8)

La probabilidad donde por lo menos una de las mascotas sea un perro es:  0.625 %
La probabilidad donde old_pet sea un perro:  0.5 %
La probabilidad donde los dos son perros:  0.125 %

  young_pet old_pet
0      gato    gato
1      gato   perro
2     perro   perro
3     perro    gato
4      gato   perro
5      gato    gato
6      gato    gato
7      gato   perro

Menos probable: el caso en que ambos sean perros <br>
Más probable: el caso donde al menos uno sea perro <br>
El primer caso es menos probable, ya que, se deben cumplir dos condiciones. El segundo es más probable <br>
debido a que se debe cumplir al menos una vez la condición en 2 eventos distintos, lo cual aumenta las probabilidades.