In [332]:
import pandas as pd
import numpy as np

1. Generar un par de arrays ficticios con numpy. Utilice la función linspace para generar un array entre 1 y 50, y un array entre 50 y 150.

In [333]:
start_a1=1
stop_a1=50
array_1_50= np.linspace(start_a1, stop_a1, num=stop_a1, dtype = int)

In [334]:
array_1_50

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [335]:
start_a2=50
stop_a2=150
array_50_150=np.linspace(start_a2, stop_a2,num=(stop_a2-(start_a2-1)), dtype = int)

In [336]:
len(array_50_150)

101

In [337]:
array_50_150

array([ 50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,
        63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,
        76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
        89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101,
       102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114,
       115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127,
       128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140,
       141, 142, 143, 144, 145, 146, 147, 148, 149, 150])

2. Ejecuta un loop que devuelva si el número en el primer array es par o impar

In [338]:
for i in array_1_50:
    x=np.mod(i, 2)
    if x==0:
        print(i,'es par')
    else:
        print(i,'es impar')

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar
20 es par
21 es impar
22 es par
23 es impar
24 es par
25 es impar
26 es par
27 es impar
28 es par
29 es impar
30 es par
31 es impar
32 es par
33 es impar
34 es par
35 es impar
36 es par
37 es impar
38 es par
39 es impar
40 es par
41 es impar
42 es par
43 es impar
44 es par
45 es impar
46 es par
47 es impar
48 es par
49 es impar
50 es par

3. Genere un loop con el segundo array que cuente las siguientes condiciones: <br>
   Si el número es divisible por 2 o 3. <br>
   Si el número es divisible por 2 y 3. <br>
   Si el número es divisible por 3 pero no por 2. <br>
   Si el número no es divisible por 2 ni 3 <br>

In [339]:
for i in array_50_150:
    x=np.mod(i,2)
    y=np.mod(i,3)
    if x==0 or y==0:
        print(i, ':es divisible por 2 o 3, ',end=" ")
        if x==0 and y==0:
            print( 'específicamente es divisible por 2 y 3')
        elif x!=0 and y==0:
            print( 'específicamente es es divisible por 3 pero no por 2')
        elif x==0 and y!=0:
            print( 'específicamente es es divisible por 2 pero no por 3')
    else:
        print(i, ':no es divisible por 2 ni 3')

50 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
51 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
52 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
53 :no es divisible por 2 ni 3
54 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
55 :no es divisible por 2 ni 3
56 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
57 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
58 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
59 :no es divisible por 2 ni 3
60 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
61 :no es divisible por 2 ni 3
62 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
63 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
64 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
65 :no es divisible por 2 ni 3
66 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
67 :no es divisible por 2 ni 3
68 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
69 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
70 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
71 :no es divisible por 2 ni 3
72 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
73 :no es divisible por 2 ni 3
74 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
75 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
76 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
77 :no es divisible por 2 ni 3
78 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
79 :no es divisible por 2 ni 3
80 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
81 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
82 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
83 :no es divisible por 2 ni 3
84 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
85 :no es divisible por 2 ni 3
86 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
87 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
88 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
89 :no es divisible por 2 ni 3
90 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
91 :no es divisible por 2 ni 3
92 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
93 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
94 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
95 :no es divisible por 2 ni 3
96 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
97 :no es divisible por 2 ni 3
98 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
99 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
100 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
101 :no es divisible por 2 ni 3
102 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
103 :no es divisible por 2 ni 3
104 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
105 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
106 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
107 :no es divisible por 2 ni 3
108 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
109 :no es divisible por 2 ni 3
110 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
111 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
112 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
113 :no es divisible por 2 ni 3
114 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
115 :no es divisible por 2 ni 3
116 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
117 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
118 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
119 :no es divisible por 2 ni 3
120 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
121 :no es divisible por 2 ni 3
122 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
123 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
124 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
125 :no es divisible por 2 ni 3
126 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
127 :no es divisible por 2 ni 3
128 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
129 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
130 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
131 :no es divisible por 2 ni 3
132 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
133 :no es divisible por 2 ni 3
134 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
135 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
136 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
137 :no es divisible por 2 ni 3
138 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
139 :no es divisible por 2 ni 3
140 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
141 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
142 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
143 :no es divisible por 2 ni 3
144 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3
145 :no es divisible por 2 ni 3
146 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
147 :es divisible por 2 o 3,  específicamente es es divisible por 3 pero no por 2
148 :es divisible por 2 o 3,  específicamente es es divisible por 2 pero no por 3
149 :no es divisible por 2 ni 3
150 :es divisible por 2 o 3,  específicamente es divisible por 2 y 3

4. Corrección de errores: Revisa el siguiente código y encuentra los errores a corregir.

In [340]:
for i in range(100):
print(I**2)

IndentationError: expected an indented block (Temp/ipykernel_3476/317031705.py, line 2)

In [341]:
#Se corrige indentación y se cambia la letra I a minúscula
for i in range(100):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

5. Utilizando la misma base flights.csv debes hacer un loop y clasificar los meses
con una cantidad de pasajeros menor a la media. Para ello:

In [342]:
df = pd.read_csv("flights.csv")

In [343]:
df.head(5)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

Genera un nuevo objeto que represente la media de passengers.

In [344]:
media_passenger=np.mean(df["passengers"])
print('Media de columna passengers es: ', round(media_passenger,2))

Media de columna passengers es:  280.3

Genera una columna en la base de datos que se llame underperforming y
asígnele 0.

In [345]:
df['underperforming'] = 0

In [346]:
df.head(5)

   year     month  passengers  underperforming
0  1949   January         112                0
1  1949  February         118                0
2  1949     March         132                0
3  1949     April         129                0
4  1949       May         121                0

Ejecuta un loop que recorra cada observación de passengers, donde si la
observación es menor a la media de passengers se le asigne a
underperforming un 1.

In [347]:
#Se realiza copia para probar dos formas

In [348]:
df2=df

In [349]:
#Primera forma
for i in df2.index:
    if df2['passengers'][i]<media_passenger:
        df2['underperforming'][i]=1
        #print(df2['passengers'][i],df2['underperforming'][i])

C:\Users\Susana\AppData\Local\Temp/ipykernel_3476/1253586823.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['underperforming'][i]=1

In [350]:
df2['underperforming'].value_counts()

1    80
0    64
Name: underperforming, dtype: int64

In [351]:
#Segunda forma usando pandas
df.loc[df['passengers']<media_passenger, 'underperforming']=1

In [352]:
df['underperforming'].value_counts()

1    80
0    64
Name: underperforming, dtype: int64

Asignar unos en la columna underperforming ya creada, para ello utilice la
función at de pandas.

In [322]:
df.at[:, 'underperforming']=1

In [353]:
df

     year      month  passengers  underperforming
0    1949    January         112                1
1    1949   February         118                1
2    1949      March         132                1
3    1949      April         129                1
4    1949        May         121                1
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

6. Por último, haz un loop que clasifique los meses donde la cantidad de pasajeros se
escapa de la tendencia. Para ello:

Genera dos objetos que guarden la media general y la desviación estándar general de
passengers.

In [354]:
media_general=df["passengers"].mean()
media_general

280.2986111111111

In [355]:
desv_est=df["passengers"].std()
desv_est

119.96631694294321

 Genera una nueva columna en la tabla de datos que se llame outlier y asígnale 0.

In [356]:
df["outlier"]=0

In [357]:
df.head()

   year     month  passengers  underperforming  outlier
0  1949   January         112                1        0
1  1949  February         118                1        0
2  1949     March         132                1        0
3  1949     April         129                1        0
4  1949       May         121                1        0

Ejecuta un loop que recorra cada observación de passengers, donde si la
observación se escapa de la tendencia sea 1, de lo contrario 0.<br>
Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer<br>
una de las siguientes condiciones:<br>
○ La observación debe ser menor a la media menos la desviación estándar, o <br>
○ La observación debe ser mayor a la media más la desviación estándar. <br>
○ ¿Cuántas observaciones se pueden clasificar como casos extremos? <br>

In [358]:
# Para que sea outlier (outlier=1) debe cumplir: passengers[i] < (media_general-desv_est) or passengers[i] > (media_general+desv_est)

In [359]:
#Primera opcióndf['passengers'][i]<(media_general-desv_est) or
for i in df.index:
    if  df['passengers'][i]<(media_general-desv_est) or df['passengers'][i]>(media_general+desv_est):
        #print(df['passengers'][i],media_general,desv_est)
        df['outlier'][i]=1

C:\Users\Susana\AppData\Local\Temp/ipykernel_3476/2756875579.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['outlier'][i]=1

In [360]:
df

     year      month  passengers  underperforming  outlier
0    1949    January         112                1        1
1    1949   February         118                1        1
2    1949      March         132                1        1
3    1949      April         129                1        1
4    1949        May         121                1        1
..    ...        ...         ...              ...      ...
139  1960     August         606                0        1
140  1960  September         508                0        1
141  1960    October         461                0        1
142  1960   November         390                0        0
143  1960   December         432                0        1

[144 rows x 5 columns]

¿Cuántas observaciones se pueden clasificar como casos extremos?

In [361]:
df["outlier"].value_counts()

0    91
1    53
Name: outlier, dtype: int64

In [ ]:
#se obtuvieron 53 outlier